<section class="hero is-info welcome is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Todo sobre el proyecto!
      </h1>
      <h2 class="subtitle">
        Conoce lo que usas!
      </h2>
    </div>
  </div>
</section>

<section class="info-tiles">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <h1 class="title">
          Acerca del proyecto
        </h1>
        Este proyecto nace como el examen del ramo
        <strong>Programación Creativa para Diseño</strong> 2019-2. <br>
        Parecía una buena idea generar un espacio en el que
        los alumnos de futuras versiones del ramo pudieran
        almacenar y exibir sus proyectos, por lo que lo hicimos
        nuestra tarea que la aplicación web fuera lo más moderna,
        intuitiva y útil posible. Ojalá la disfrutes!
      </article>
    </div>
  </div>
</section>

<section class="info-tiles">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <h1 class="title">
          Soy nuevo... ¿cómo uso la aplicación?
        </h1>
        La aplicación se encargará de generar un <i>canvas</i> cuadrado
        de altura y ancho automáticamente generados
        <strong><i>size</i></strong> (la variable <strong><i>size</i></strong>
        puede ser usada en el código para hacer cosas relacionadas con el
        tamaño del <i>canvas</i>). Luego, se ejecutará el código entregado
        y se mostrará el resultado en el <i>canvas</i>
        automáticamente generado.
      </article>
    </div>
  </div>
</section>

<section class="info-tiles">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        Hecho <strong>con mucho
        <i class="fa fa-heart" aria-hidden="true"></i></strong>
        por
        <strong>
          <%= link_to "Daniel Leal", "https://github.com/daleal", target: "_blank" %>
        </strong>
      </article>
    </div>
  </div>
</section>
