<section class="hero is-info welcome is-small has-text-right">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Proyectos!
      </h1>
      <h2 class="subtitle">
        Aquí podrás ver todos los proyectos!
      </h2>
    </div>
  </div>
</section>

<section class="info-tiles">
  <div class="tile is-ancestor has-text-centered">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title"><%= @projects_amount %></p>
        <p class="subtitle"><%= "Proyecto".pluralize(@projects_amount) %></p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title"><%= @users_amount %></p>
        <p class="subtitle"><%= "Usuario".pluralize(@users_amount) %></p>
      </article>
    </div>
  </div>
</section>
