<p class="title"><%= @project.title %></p>
<i>by <%= @user.email %></i>
<section class="info-tiles">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <%= @project.code %>
      </article>
    </div>
  </div>
</section>

<% if @is_owner %>
  <%= link_to "Eliminar", user_project_path(@user, @project), method: :delete, data: { confirm: '¿Estás seguro?' } %>
<% end %>
